<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Obrigado! - Secretaria de Saúde</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="logo-container">
                <img src="https://i.postimg.cc/GtSSp3MC/1-fw.png" alt="Logo">
            </div>
            <!--<h1>Obrigado!</h1>
            <p class="subtitle">SECRETARIA DE SAÚDE DE COSMÓPOLIS-SP</p>-->
        </div>

        <div class="form-card" style="text-align: center;">
            <div style="color: #28a745; font-size: 4em; margin-bottom: 20px;">
                ✓
            </div>
            <h2 style="color: #28a745; margin-bottom: 20px;">Pesquisa enviada com sucesso!</h2>
            <p style="color: #666; margin-bottom: 30px;">
                Sua opinião é muito importante para melhorarmos nossos serviços.
            </p>
            
            <a href="{{ url_for('formulario') }}" class="submit-btn" style="display: inline-block; text-decoration: none;">
                Nova Pesquisa
            </a>
        </div>
	   <!-- Link Admin -->
	   <p>Acessos ao resultado da pesquisa.</p>
        <div style="text-align: center; margin-bottom: 20px;">
            <a href="{{ url_for('admin_login') }}" style="color: #666; text-decoration: none; font-size: 14px;">
                Acesso Administrativo
            </a>
        </div>      





        <div class="footer">
           <p>© 2025 Secretaria de Saúde de Cosmópolis-SP - Todos os direitos reservados</p>
        </div>
    </div>
</body>
</html>